.assistant-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.assistant-content {
  background-color: #F7F7F7;
  padding-top: 5px;
  padding-bottom: 300px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  min-width: 500px;
}

.assistant-name {
  border-bottom: 1px solid black;
}

.assistant-name h2 {
  padding: 10px;
  margin: 0;
}

.assistant-message {
  background-color: white;
  border: 1px solid black;
  margin: 15px;
  margin-right: 200px;
  padding: 10px;
  border-radius: 5px;
}