.assistant-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.assistant-content {
  background-color: #f0eded;
  padding-top: 0.3125rem;
  padding-bottom: 1.25rem;
  border-radius: 0.3125rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  position: relative;
  width: 40rem;
  height: 32rem;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.assistant-name {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
  text-align: center;
}

.close-btn {
  position: absolute;
  right: 0.625rem;
  background-color: #C4C4C4;
  border: none;
  border-radius: 0.3125rem;
  padding: 0.1rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.close-btn i {
  font-size: 1.5rem;
}

.close-btn:hover {
  background-color: #AFAFAF;
  box-shadow: 0 0 0.5rem #AFAFAF;
}

.assistant-name h2 {
  padding-top: 0.25rem;
  padding-bottom: 0.5rem;
  margin: 0;
}

.conversation-history {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 1.25rem;
  display: flex;
  flex-direction: column;
  padding: 0 0.625rem;
  padding-top: 1.25rem;
}

.user-message {
  max-width: 22rem;
  padding: 1rem;
  border-radius: 3.125rem;
  margin: 0.3125rem;
  color: white;
  align-self: flex-end;
  background-color: rgb(56, 77, 158);
  word-wrap: break-word;
  opacity: 0;
  transform: translateX(1.25rem);
  animation: fadeInLeft 0.7s ease forwards;
  text-wrap: wrap;
}

@keyframes fadeInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.ai-message {
  max-width: 22rem;
  background-color: white;
  padding: 0 1rem;
  border-radius: 3.125rem;
  margin: 0.3125rem;
  align-self: flex-start;
  opacity: 0;
  transform: translateX(-1.25rem);
  animation: fadeInLeft 0.7s ease forwards;
  text-wrap: wrap;
}

.assistant-input {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;
}

.assistant-input input {
  flex: 1;
  padding: 0.625rem;
  border-radius: 0.3125rem;
  border: 1px solid #ccc;
  margin: 0.625rem 0.625rem 0.625rem 1.875rem;
}

.assistant-input button {
  margin: 0.625rem 1.875rem 0.625rem 0.625rem;
  padding: 0.625rem 1.5625rem;
  border: none;
  background-color: #C4C4C4;
  color: black;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: 0.5s;
}

.assistant-input button:hover {
  background-color: #E0B973;
  box-shadow: 0 0 0.5rem #E0B973;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .assistant-content {
    width: 30rem;
    height: 24rem;
  }

  .user-message,
  .ai-message {
    max-width: 18rem;
  }
}

@media (max-width: 768px) {
  .assistant-content {
    width: 20rem;
    height: 18rem;
  }

  .user-message,
  .ai-message {
    max-width: 14rem;
  }

  .assistant-input input,
  .assistant-input button {
    margin: 0.3125rem;
    padding: 0.3125rem 0.625rem;
  }
}