.reviews-container {
  padding-bottom: 0px;
  text-align: center;
}

.reviews-container h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.reviews-container p {
  font-size: 1em;
  font-weight: 550;
  margin-bottom: 10px;
}

.reviews-container h2 {
  font-size: 1em;
  font-weight: 400;
  margin-top: 10px;

}