.reviews-container {
  margin: 1.5rem;
  text-align: center;
}

.reviews-container h1 {
  font-family: 'AGaramondPro';
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
}

.reviews-container p {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0.625rem;
}

.reviews-container h2 {
  font-size: 1rem;
  font-weight: 550;
  margin-top: 0.625rem;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .reviews-container h1 {
    font-size: 1.75rem;
  }

  .reviews-container p {
    font-size: 0.9em;
  }

  .reviews-container h2 {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .reviews-container h1 {
    font-size: 1.5rem;
  }

  .reviews-container p {
    font-size: 0.85em;
  }

  .reviews-container h2 {
    font-size: 0.85rem;
  }
}

@media (max-width: 480px) {
  .reviews-container h1 {
    font-size: 1.25rem;
  }

  .reviews-container p {
    font-size: 0.8em;
  }

  .reviews-container h2 {
    font-size: 0.8rem;
  }
}