.review-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1.875rem;
}

.review-button {
  font-family: 'Montserrat-bold';
  color: black;
  border: none;
  background-color: #C4C4C4;
  padding: 0.625rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.review-button:hover {
  background-color: #AFAFAF;
  transform: scale(1.025);
  box-shadow: 0 0 0.75rem 0.1rem #AFAFAF;
}

/* Tablet view */
@media (max-width: 768px) {
  .review-button {
    padding: 0.5rem 1.25rem;
    font-size: 0.9rem;
  }
}

/* Mobile view */
@media (max-width: 480px) {
  .review-button {
    padding: 0.4rem 1rem;
    font-size: 0.8rem;
  }
}