.facilities-main-cont {
  width: 100%;
}

.facilities-hero-section {
  height: 100vh;
  background: url('../../images/facilities-hero.png') no-repeat center center/cover;
  background-color: rgba(16, 33, 65, 0.7);
  opacity: 0.95;
  background-blend-mode: overlay;
  color: white;
  text-align: center;
}

.facilities-cont {
  padding-top: 2.5rem;
  text-align: center;
}

.facilities-cont h1 {
  font-size: 1.875rem;
  font-weight: bolder;
  padding-bottom: 1.25rem;
}

.facilities-cont p {
  font-weight: 600;
  flex-wrap: wrap;
  line-height: 1.5;
  font-size: 1.2rem;
  margin: 0 10rem;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .facilities-cont h1 {
    font-size: 1.5rem;
  }

  .facilities-cont p {
    font-size: 1rem;
    margin: 0 5rem;
  }
}

@media (max-width: 768px) {
  .facilities-cont h1 {
    font-size: 1.25rem;
  }

  .facilities-cont p {
    font-size: 0.875rem;
    margin: 0 3rem;
  }
}

@media (max-width: 480px) {
  .facilities-cont h1 {
    font-size: 1rem;
  }

  .facilities-cont p {
    font-size: 0.75rem;
    margin: 0 2rem;
  }
}