.room-count {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.add_minus-icon {
  width: 1.75rem;
  height: 1rem;
  padding: 0.325rem;
  cursor: pointer;
  transition: 0.5s;
}

.add_minus-icon:hover {
  transform: scale(1.1);
  /* Slightly increase size on hover for interactivity */
}

.count-input {
  border: 1px solid #ccc;
  border-radius: 0.125rem;
  text-align: center;
  padding-left: 0.625rem;
  width: 3.125rem;
}

/* Tablet view */
@media (max-width: 768px) {
  .add_minus-icon {
    width: 1.5rem;
    height: 0.875rem;
    padding: 0.25rem;
  }

  .count-input {
    width: 2.5rem;
    padding-left: 0.5rem;
  }
}

/* Mobile view */
@media (max-width: 480px) {

  .add_minus-icon {
    width: 1.25rem;
    height: 0.75rem;
    padding: 0.2rem;
  }

  .count-input {
    width: 2rem;
    padding-left: 0.375rem;
  }
}