.room-count {
  display: flex;
  flex-direction: row;
}

.add_minus-icon {
  width: 1.75rem;
  height: 1rem;
  padding: 0.325rem;
  cursor: pointer;
  transition: 0.5s;
}


.add_minus-icon:hover {
  transform: scale(1.1);
  /* Slightly increase size on hover for interactivity */
}

.count-input {
  border: 1px solid #ccc;
  border-radius: 0.125rem;
  text-align: center;
  padding-left: 0.625rem;
  width: 3.125rem;
}