.room-count {
  display: flex;
  flex-direction: row;
}

.add_minus-icon {
  width: 15px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
}

.count-input {
  border: 1px solid #ccc;
  border-radius: 2px;
  text-align: center;
  padding-left: 10px;
  padding-right: 0px;
}