.review-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-popup-content {
  background-color: white;
  padding: 0.3rem;
  border-radius: 0.3rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  position: relative;
  width: 30rem;
}

.review-popup-name {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.review-popup-content h1 {
  font-family: 'Montserrat-bold';
  display: flex;
  padding-bottom: 0.625rem;
  justify-content: center;
  font-size: 1.25rem;
}

.review-popup-form {
  display: flex;
  flex-direction: column;
  padding-right: 3.125rem;
  padding-left: 1.875rem;
}

.review-popup-form div {
  display: flex;
  margin-bottom: 1.25rem;
}

.review-popup-form label {
  font-weight: bold;
  flex: 1;
  margin-right: 1.875rem;
  align-content: center;
}

.review-popup-form input {
  padding: 0.5rem;
  border: 1px solid black;
  font-size: 1em;
  width: 15rem;
}

.review-popup-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0rem;
}

.review-submit-button {
  font-family: 'Montserrat-bold';
  color: black;
  border: none;
  background-color: #C4C4C4;
  padding: 0.5rem 1.25rem;
  font-size: 0.875rem;
  font-weight: bold;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.review-submit-button:hover {
  background-color: #A9A9A9;
  box-shadow: 0 0 0.5rem #A9A9A9;
}

.review-close-btn {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  background-color: #C4C4C4;
  border: none;
  border-radius: 0.3125rem;
  padding: 0.1rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.review-close-btn i {
  font-size: 1.5rem;
}

.review-close-btn:hover {
  background-color: #AFAFAF;
  box-shadow: 0 0 0.5rem #AFAFAF;
}

/* Media Queries for responsiveness */
@media (max-width: 1024px) {
  .review-popup-content {
    width: 25rem;
  }

  .review-popup-form {
    padding-right: 2rem;
    padding-left: 1rem;
  }

  .review-popup-form input {
    width: 13rem;
  }
}

@media (max-width: 768px) {
  .review-popup-content {
    width: 25rem;
  }

  .review-popup-form {
    padding-right: 1.5rem;
    padding-left: 0.5rem;
  }

  .review-popup-form input {
    width: 80%rem;
  }
}

@media (max-width: 480px) {

  .review-popup {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  .review-popup-content {
    width: 90%;
  }

  .review-popup-form {
    padding-right: 2rem;
    padding-left: 1rem;
  }

  .review-popup-form input {
    width: 100%;
  }

  .review-popup-form label {
    margin-right: 1rem;
  }
}