.arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1.875rem;
  /* 30px */
}

.left-arrow {
  background-color: #C4C4C4;
  border-radius: 0.3125rem;
  /* 5px */
  height: 1.875rem;
  /* 30px */
  width: 1.875rem;
  /* 30px */
  margin-right: 0.3125rem;
  /* 5px */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.right-arrow {
  background-color: #C4C4C4;
  border-radius: 0.3125rem;
  /* 5px */
  margin-left: 0.3125rem;
  /* 5px */
  height: 1.875rem;
  /* 30px */
  width: 1.875rem;
  /* 30px */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.left-arrow svg,
.right-arrow svg {
  height: 0.9375rem;
  /* 15px */
}