.explore-button {
  font-family: 'Montserrat-bold';
  margin-top: 1rem;
  color: black;
  border: none;
  background-color: #C4C4C4;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.explore-button:hover {
  background-color: #AFAFAF;
  transform: scale(1.025);
  box-shadow: 0 0 0.75rem 0.1rem #AFAFAF;
}

/* Tablet view */
@media (max-width: 768px) {
  .explore-button {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
}

/* Mobile view */
@media (max-width: 480px) {
  .explore-button {
    padding: 0.5rem 0.75rem;
    font-size: 0.8rem;
  }
}