.book-now-btn {
  font-family: 'Montserrat-bold';
  font-weight: bold;
  color: black;
  border: none;
  background-color: #E0B973;
  padding: 0.625rem 1.5625rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.book-now-btn:hover {
  background-color: #ebb755;
  box-shadow: 0 0 0.75rem 0.1rem #e6af49;
  transform: scale(1.025);
  /* Slightly enlarge the button on hover */
}

.book-now-btn img {
  height: 14px;
  width: 15px;
  padding-right: 10px;
}