.book-now-btn {
  color: black;
  border: none;
  background-color: #E0B973;
  padding: 10px 25px;
  font-size: 12pt;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.book-now-btn img {
  height: 14px;
  width: 15px;
  padding-right: 10px;
}