.room-type-container {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  padding: 2.5rem;
}

.room-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  margin: 0%;
}

.room-background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.room-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #1E1E1E;
  padding-bottom: 1.25rem;
}

.room-cont h1 {
  font-family: 'Montserrat-bold';
  font-size: 2rem;
  color: white;
}

.room-price-container {
  font-family: 'Montserrat-bold';
  font-size: 1rem;
  font-weight: bold;
  background-color: #cbc1ad;
  width: 15rem;
  padding: 0.625rem;
  border-radius: 0.625rem;
}

/* Media Queries for responsiveness */
@media (max-width: 1024px) {
  .room-type-container {
    margin-left: 4%;
    margin-right: 4%;
    padding: 2rem;
  }

  .room-image-container {
    height: 40vh;
  }

  .room-cont h1 {
    font-size: 1.75rem;
  }

  .room-price-container {
    width: 15rem;
    padding: 0.5rem;
  }
}

@media (max-width: 768px) {
  .room-type-container {
    margin-left: 3%;
    margin-right: 3%;
    padding: 1.5rem;
  }

  .room-cont h1 {
    font-size: 1.5rem;
  }

  .room-price-container {
    width: 10rem;
    padding: 0.5rem;
  }
}

@media (max-width: 480px) {
  .room-type-container {
    margin-left: 2%;
    margin-right: 2%;
    padding: 1rem;
  }


  .room-image-container {
    height: 30vh;
  }

  .room-cont h1 {
    font-size: 1.25rem;
  }

  .room-price-container {
    font-size: 0.9rem;
    width: 8rem;
    padding: 0.5rem;
  }
}