.footer-container {
  background-color: black;
  display: flex;
  justify-content: space-around;
  color: white;
  padding-top: 1.875rem;
  padding-bottom: 2.25rem;
}

/* Base styles for footer name */
.footer-name {
  display: flex;
  flex-direction: column;
}

.footer-name p {
  margin: 0;
  font-size: 0.625rem;
}

.footer-name-topic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'AGaramondPro';
  letter-spacing: 0.15rem;
}

.footer-name-topic h1 {
  margin: 0;
  font-size: 1.25rem;
}

.footer-name-topic h2 {
  margin: 0;
  font-size: 0.5rem;
  padding-left: 1.25rem;
  padding-bottom: 0.625rem;
}

/* Base styles for footer about section */
.footer-about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-about h1 {
  font-size: 0.6875rem;
  margin: 0;
}

/* Base styles for footer contact section */
.footer-contact {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  gap: 1rem;
  font-size: 0.625rem;
}

.footer-contact img {
  height: 0.625rem;
  width: 0.625rem;
  padding-right: 1rem;
}

/* Mobile view */
@media (max-width: 650px) {
  .footer-container {
    justify-content: center;
  }

  .footer-about {
    display: none;

  }

  .footer-contact {
    display: none;
  }

}