.booknow-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  z-index: 10;
}

.booknow-popup-container {
  background-color: white;
  border-radius: 0.625rem;
  box-shadow: 0 0.5em 1rem rgba(0, 0, 0, 0.3);
  width: 35rem;
  text-align: center;
  opacity: 100%;
}

.booknow-popup-topic {
  font-family: 'Montserrat-bold';
  background-color: black;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  padding-top: 0.625rem;
  padding-bottom: 1.25rem;

}

.booknow-popup-container {
  color: black;
  padding-bottom: 0.625rem;
}

.booknow-content-description {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  background-color: #F7F7F7;
}

.booknow-content-description h1 {
  font-family: 'AGaramondPro';
  font-size: 1.25rem;
  padding-bottom: 0.25rem;
  margin: 0rem;
}

.booknow-content-description p {
  font-weight: 550;
  font-size: 0.625rem;
  margin: 0;
}



.form-group-main {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  /* Optional: Adds space between each form group */
}


.form-group {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  padding-right: 4rem;
  padding-left: 4rem;

}

.form-group label {
  font-weight: 600;
  flex: 1;
  text-align: left;
  /* Ensures the label text is aligned to the left */

}

.form-group input {
  flex: 2;
  padding: 0.35rem;
  border: 1px solid #ccc;
}

.form-group input::placeholder {
  text-align: center;
}

.date-group {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  padding-left: 4.375rem;
  padding-right: 2.5rem;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}

.date-group input {
  padding: 0.1rem;
  font-size: 0.875rem;
}

.date-group label {
  flex: 1;
  text-align: left;
  font-weight: 600;
  /* Ensures the label text is aligned to the left */
}

.price {
  font-size: 0.75rem;
  font-weight: 600;
  text-align: right;
  padding-right: 2.5rem;
}

.room-price {
  padding-left: 0.625rem;
}

.room-selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
  padding-left: 4.375rem;
  padding-right: 2.5rem;
  padding-top: 0.3125rem;
  padding-bottom: 1.875rem;
}

.room-selection label {
  padding-right: 0.3125rem;
  text-align: left;
  font-weight: 600;
}

.room-selection input {
  width: 4rem;
}


.booknow-form-button {
  font-family: 'Montserrat-bold';
  color: black;
  border: none;
  background-color: #E0B973;
  padding: 0.5rem 1.125rem;
  font-size: 0.875rem;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
  transition: 0.5s linear;
}

.booknow-form-button:hover {
  background-color: #ebb755;
  box-shadow: 0 0 0.75rem 0.1rem #ebb755;
}

.success-message {
  margin-top: 0.625rem;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 0.625rem;
}