body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; 
}

.header {
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header a {
  color: white;
  font-style: bold;
  text-decoration: none;
  margin: 3rem;
}

.header a:last-child {
  margin-right: 10rem; 
}

.header a.active {
  text-decoration: underline;
}