.main-navbar {
  padding: 20px;
}

.main-hero-sub-text {
  font-size: 30pt;
  margin: 0 5px 0 5px;
  font-weight: 400;
}

.main-hero-main-text {
  font-size: 72pt;
  margin: 0 5px 0 5px;
  font-weight: bold;
}

.main-hero-sub-text2 {
  font-size: 35pt;
  margin: 0 5px 0 5px;
  font-weight: 600;
}

.main-hero-tag-line {
  font-size: 15pt;
  margin: 0 5px 0 5px;
}

.main-hero-text-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 7% 15% 4% 12%;
}

.main-hero-scroll-text {
  padding-top: 3%;
  font-size: 11pt;
  font-weight: 700;
}

.main-hero-scroll-down-icon {
  height: 50px;
  fill: white;

}